/*
Author: Jhon Moreno
Author URL: jhonmo09@gmail.com/
*/

@charset "utf-8";
/* CSS Document */

#loader {width:100%; height:100%; position:fixed; top:0; right:0; bottom:0; left:0; z-index:999999; background-color:#fff;}
#progress {width:50px; height:50px; position:absolute; top:50%; left:50%; margin-top:-25px; margin-left:-25px; background:url(../img/loading.gif);}
/*--fontface-*/

@font-face {
    font-family: 'mic_32_new_rounded_rgregular';
    src: url('../fonts/mic32newrd-rg_1-webfont.eot');
    src: url('../fonts/mic32newrd-rg_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mic32newrd-rg_1-webfont.woff') format('woff'),
         url('../fonts/mic32newrd-rg_1-webfont.ttf') format('truetype'),
         url('../fonts/mic32newrd-rg_1-webfont.svg#mic_32_new_rounded_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**/

/*-----clearfix------*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;  }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/**/


/*----scroll pane---*/
.jspContainer{overflow:hidden;position: relative;}
.jspPane{position: absolute;}
.jspVerticalBar{position: absolute;	top: 0;	right: 0;width: 7px;height: 100%;}
.jspTrack{background: #ccc;	position: relative; overflow:hidden}
.jspDrag{background:#001c65;position: relative;top: 0;left: 0;cursor: pointer;}
.jspHorizontalBar{width:1000px; height:10px; position:absolute; z-index:10; bottom:0;}

.jspHorizontalBar .jspCap
{
	float: left;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}
/*----//----*/



/*---clases genericas---*/
.right{float:right;}
.left{float:left;}
.main_content{width:100%; max-width:1450px; margin:0 auto; position:relative;}
.mic{font-family: 'mic_32_new_rounded_rgregular';}
/*----//---*/

body{font-family: 'OpenSansRegular';}

/*--home--*/
.slider li{background-position:center; background-size:cover;}
.content_main_slider{width:100%; overflow:hidden; top:0; position:relative; }
.content_dest_head{position:absolute; top:0; width:100%;}
.slide_pattern{position:absolute; top:0; left:0; width:100%; height:100%; background:url(../img/slide_pattern.png); z-index:2}
.slide_caption{position:absolute; top:30%; left:50%; margin-left:-200px; width:400px; text-align:center; z-index:10; color:#fff; text-shadow:2px 2px 2px rgba(0,0,0,0.5);  font-family: 'mic_32_new_rounded_rgregular';}
.slide_caption h2{font-size:0.8em;}
.slide_caption h3{font-size:0.3em; margin-top:1em; letter-spacing:0.3em}
.slide_caption h3 span{background:#cc003f; padding:0 10px;}
.content_main_slider .prevBtn, .content_main_slider .nextBtn {display:none;}
.menu_desk{display:block; width:100px; background:#fff; border-radius:50px 0 0 0; z-index:2; position:relative; padding-top:15px; box-shadow:1px 0 4px rgba(0,0,0,0.2)}
.icon_menu{background:url(../img/icon_menu1.png) center top no-repeat; width:40px; padding-top:25px; display:block; margin:15px auto 0 auto; text-align:center; font-size:14px; color:#cc003f;  font-family: 'mic_32_new_rounded_rgregular';}
.logo_desk{position:absolute; top:50%; left:50%; margin-left:-31px; margin-top:-31px; background:url(../img/logo_desk.png); width:62px; height:62px;}
.content_menu_desk{position:relative; z-index:20; width:auto;}
.content_head{position:absolute; top:0; width:100%; z-index:20}
.content_menu_desk.content_menu_abierto{background:url(../img/pixel_blanco.png);}
.contenido_menu_desk{width:0; overflow:hidden;}
.logo{margin:15% auto;}
.lista_menu{padding:0 10%; width:236px;}
.lista_menu li{font-size:14px; border-bottom:1px dotted #2e2e2e; padding-bottom:3px; margin-bottom:4px; font-family: 'mic_32_new_rounded_rgregular';}
.lista_menu li a{color:#2e2e2e; }
.lista_menu li a:hover{color:#cc003f;}
.menu_desk.menu_abierto{background:#cc003f;}
.menu_desk.menu_abierto .icon_menu{background-image:url(../img/icon_menu1_abierto.png); color:#fff;}
.menu_desk.menu_abierto .logo_desk{background:url(../img/logo_desk_blanco.png);}
.item_dest_head{ padding:2px; background:#fff; margin:auto 0 1px auto; position:relative;}
.dest_head{position:relative; z-index:26; }
.item_dest_head img{height:97%; position:absolute; border:2px solid #fff; top:0; right:0; transition:all 0.3s}
.item_dest_head:hover img{right:100%; transition:all 0.3s; }
.info_item_dest{padding:10px; text-align:center;}
.info_item_dest h3{color:#cc003f; font-size:1em; text-transform:uppercase;}
.item_dest_head h4{font-size:0.8em; color:#212121; margin-top:5px;}
.item_dest_head p{font-size:0.5em; text-align:center; color:#858585; margin-top:10px;}
.item_dest_head a, .info_dest_home span, .item_proyecto span{background:url(../img/btn_vermas_dest.png); width:28px; height:28px; display:block; margin:10px auto;}
.content_menu_resp{width:100%; height:65px; background:#fff; display:none; position:relative; box-shadow:0 2px 2px rgba(0,0,0,0.2)}
.logo_resp{margin:5px;}
.btn_menu_resp{background:url(../img/icon_menu_resp.png) center no-repeat; width:72px; height:65px; display:block; cursor:pointer }
.menu_resp{position:absolute; top:100%; right:0; background:#cc003f; padding:30px; z-index:20; border-radius:30px 0 0 0; display:none;}
.menu_resp .lista_menu{padding:0;}
.menu_resp .lista_menu li a{color:#fff;}
.menu_resp .lista_menu li{border-bottom-color:#fff; padding:6px 0; }
.btn_menu_resp.menu_resp_abierto{background-image:url(../img/icon_menu1_abierto.png); background-color:#cc003f;}
.item_dest_home{width:33.3%; position:relative; margin-top:10px;}
.item_dest_home img{width:100%;}
.over_dest_home{position:absolute; top:0; left:0; width:100%; height:100%; display:none;}
.info_dest_home{width:50%; height:100%; background:#f4f4f4; text-align:center;}
.icon_dest_home{width:50%; height:100%; background:rgba(0,0,0,0.6) url(../img/icon_mas2.png) center no-repeat;}
.info_dest_home h4{font-size:0.7em; color:#cc003f; margin-top:1em}
.info_dest_home h2{font-size:1em; color:#000000;}
.info_dest_home p{font-size:0.47em; color:#636363; margin-top:0.5em}
.dest_resp{width:98%; margin:auto; margin-top:75px; display:none; margin-bottom:20px;}
.dest_desk{margin-bottom:25px;}
.notic_home{width:49.5%; position:relative;}
.notic_home img{width:100%;}
.content_dest_resp{width:49.5%;}
.item_dest_resp{position:relative; width:100%; margin-bottom:2%; display:block;}
.item_dest_resp img{width:100%;}
.over_dest_resp{position:absolute; bottom:0; background:#cc003f; height:30%; width:100%; }
.tab_over{width:100%; height:100%; display:table; text-align:center; color:#fff; font-size:20px;}
.cell_over{display:table-cell; vertical-align:middle;}
.over_dest_resp2{position:absolute; top:0; left:0; width:50%; height:100%; background:#358aa2;}
.over_dest_resp2 span{font-size:14px;}
.footer{width:100%; background:#cc003f; padding:10px 0 0 0;  z-index:22; position:relative;}
.footer h3{font-size:22px; color:#fff; margin-bottom:15px;}
.item_cont_footer{margin-bottom:10px; font-size:14px; color:#fff; padding-left:22px; background-position: top left; background-repeat:no-repeat; margin-right:20px;}
.item_dir{background-image:url(../img/icon_dir.png);}
.item_tel{background-image:url(../img/icon_tel.png);}
.item_mail{background-image:url(../img/icon_mail.png);}
.logo_footer{margin-top:25px;}
.content_footer1{padding:0 20px;}
.content_footer2{border-top:1px solid #fff; padding:0 20px;}
.footer h6{font-size:12px; color:#fff; margin-top:12px;} 

/*--internas--*/
.content_int{margin:0 0 25px auto;}
.main_img{width:100%;}
.contenido_int{width:98%; margin:15px auto;}
.main_p{font-size:14px; color:#454545; text-align:justify;}

.item_acord{ margin-bottom:10px;}
.btn_acord{ background:#cc003f; width:100%; height:38px; line-height:40px; cursor:pointer;  border-radius:3px; border-bottom:1px solid #f0f0f0; box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
.btn_acord:hover{background:#da0345;}
.btn_acord h3{font-size:20px;  padding-left:10px; color:#fff;}
.indic_btn_acord{background-image:url(../img/btn_acord.png); float:right; width:40px; height:40px;}
.item_cerrado{background-position:top;}
.item_abierto{background-position:bottom;}
.content_acord{margin-top:10px;}
.content_acord img{margin:0 10px 10px 0; width:100%; max-width:480px;}
.main_title{color:#cc003f; font-size:24px; margin-bottom:20px;}
.item_proyecto{width:23%; margin:1%; position:relative;}
.item_proyecto img{width:100%;}
.info_item_proyecto{color:#636363; font-size:12px; padding:5%; background:#f4f4f4;}
.item_proyecto h2{font-size:18px; color:#cc003f; margin-bottom:10px;}
.item_proyecto:hover{box-shadow:0 2px 2px rgba(0,0,0,0.2);}
.paginador{width:100%; text-align:center; margin-top:30px;}
.paginador a{display:inline-block; width:28px; height:28px; background: #f4f4f4; text-align:center; line-height:28px; font-size:13px; color:#636363;}
.paginador a:hover{color:#cc003f;}
.paginador a.pagina_activa{background:#cc003f; color:#fff;}
.thumb_gal1{width:98%; margin:0 1%; cursor:pointer;}
.content_slider_thumbs{position:relative; margin-top:10px; padding:10px 0; background:#f4f4f4; box-shadow:0 2px 2px rgba(0,0,0,0.2)}
.texto_proyecto{margin:20px auto;}
.info_proyecto{width:30%;}
.info_proyecto h2, .item_noticia h2{font-size:20px; color:#cc003f; margin-bottom:10px;}
.info_proyecto h3{color:#333;}
.item_info{margin-bottom:10px;}
.item_info p{font-size:14px; color:#999;}
.mapa_proyecto{width:68%;}
.mapa{width:100%; height:300px;}
.item_alianza{text-align:center;}
.item_alianza img, .item_gal img{margin-bottom:10px;}
.item_alianza p{color:#636363; font-size:12px; padding:5%; height:40px;}
.item_alianza:hover, .item_gal:hover{background:#eee;}
.content_slider_gal ol{display:none;}
.content_slider_gal .slider{overflow:hidden !important;}
.content_slider_gal{position:relative;}
.item_noticia img{margin:0 10px 10px 0; width:100%; max-width:320px;}
.item_noticia{padding-bottom:10px; border-bottom:1px solid #ddd; margin-bottom:20px;}
.btn_vermas1{background:#cc003f; width:15%; height:40px; line-height:40px; font-size:14px; text-align:center; color:#fff; display:block; margin:10px 0 auto auto; border-radius:20px 0 0 0}
.gal_notic{width:40%; margin:0 10px 10px 0}
.thumbs_gal_notic img{width:32%; margin-right:2%; cursor:pointer;}
.main_img_notic{width:100%; margin-bottom:10px;}
.btn_back{display:block; width:120px; height:30px; background:#cc003f; margin:10px 0 15px auto; font-size:14px; line-height:30px; color:#fff; text-align:center;}
.img_contacto{width:50%;}
.form_contacto{width:48%; position:relative;}
.input1{width:96%; padding: 2%; display:block; margin-bottom:10px; border:1px solid #ddd; height:20px; line-height:20px; font-size:13px; border-radius:5px}
.input1:focus, .textarea1:focus{border-color:#cc003f; background:#fdf7f9}

.textarea1{width:96%; padding: 2%; display:block; margin-bottom:10px; border:1px solid #ddd; height:100px; line-height:20px; font-size:13px;  border-radius:4px}
.submit{background:#cc003f; width:30%; height:40px; line-height:40px; font-size:14px; text-align:center; color:#fff; display:block; margin:10px 0 auto auto; border-radius:20px 0 0 0; border:none; cursor:pointer;}
.btn_video{margin:auto; width:15%; height:40px; line-height:40px; display:block; background:#358aa2; margin-top:10px; text-align:center; color:#fff; font-size:14px;}
.btn_cotiza{ margin-left:1%; width:14%; height:40px; line-height:40px; display:block; background:#53662b; margin-top:10px; text-align:center; color:#fff; font-size:14px;}

.redes{width:50px; margin-right:15px; margin-top:10px; text-align:center; width:10%;}
.redes a{width:15px; height:21px; margin-left:10px; display:inline-block}
.fb{background-image:url(../img/btn_fb.png)}
.tw{background-image:url(../img/btn_tw.png)}
/*--//--*/


@media screen and (max-width:960px) {
	.slide_caption h2{font-size:1em}
	.slide_caption h3{font-size:0.6em;}
	.content_menu_desk, .item_dest_head{display:none;}
	.content_menu_resp{display:block;}
	.content_main_slider{top:65px;}
	.dest_desk{margin-top:65px;}
	.content_footer1{padding:0 15px;}
	.content_int{margin-top:75px;}
	.btn_vermas1{width:25%;}
	.content_head{height:auto !important;}
}

@media screen and (max-width:768px) {
	.content_main_slider .prevBtn, .content_main_slider .nextBtn {display:block;}
	ol.controls{display:none;}
	.dest_desk{display:none;}
	.dest_resp{display:block;}
	.footer h6{float:none; text-align:center; padding:0 10px; font-size:11px;}
	.item_cont_footer{font-size:13px;}
	.footer_ahorranito{float:none; margin:auto;}
	.item_proyecto{width:48%;}
	.info_proyecto{width:100%; float:none; margin-bottom:15px;}
	.mapa_proyecto{width:100%; float:none;}
	.btn_vermas1{width:100%; margin:10px auto;}
	.gal_notic{width:50%;}
	.img_contacto{display:none;}
	.form_contacto{width:95%; float:none; margin:auto;}
	.submit{width:50%;}
	.btn_video, .btn_cotiza{width:100%;}
	.btn_cotiza{margin-left:0;}
	.redes{float:none; width:100%;}
	
}

@media screen and (max-width:480px) {
	.logo_footer{display:none;}
	.main_p{font-size:12px;}
	.item_proyecto{width:100%; margin:1% 0;}
	.content_slider_thumbs{height:0; overflow:hidden; padding:0; box-shadow:none}
	.btn_vermas1{width:100%;}
	.item_noticia img{width:100%; max-width:480px;}
	.gal_notic{width:100%;}	
	.submit{width:100%;}
	.footer_ahorranito{font-size:11px !important; height:15px !important; line-height:15px !important; padding-bottom:10px; width:180px !important}
	.footer_ahorranito > span{width:15px !important; height:15px !important; background-size:100% 100% !important; margin-top:0 !important;}
	.footer h6{font-size:10px;}
	.item_cont_footer{font-size:11px;}
	.footer h3{font-size:18px;}
	.tab_over{font-size:16px;}
	.over_dest_resp2{width:60%;}
}
