	
/* Sudo Slider */
.slider ul, .slider li, .slider2 ul, .slider2 li, .slider3 ul, .slider3 li{margin:0;padding:0;list-style:none;position:relative;display:block;}
/* Uncomment this if you wan't to only have 1 visible slide before the javascript kicks in. 
#slider li {display:none;}	
#slider li:first-child {display:block;}
*/
.slider, .slider li {overflow:visible !important}
.slider li img{width:100%;}
.slider2{overflow:hidden; width:100%;}
.slider2 li{width:auto;}
.slider3{width:100% !important; overflow:hidden;}
/* // Sudo Slider */	
/* Numeric Navigation */
ol {margin:auto;padding:0;height:20px; position:absolute; text-align:center; bottom:20px; z-index:25; width:940px; left:50%; margin-left:-480px }
ol li{margin:0 3px 0 0; padding:0; list-style:none; height:20px; display:inline-block}
ol li a{height:22px; width:13px; text-decoration:none; display:inline-block; background:#fff; position:relative; }
ol li a span{display:none;}

 ol li.current a, ol li a:hover{background:#cc003f;}



.graphic, .prevBtn, .nextBtn{margin:0;padding:0;display:block;overflow:hidden;text-indent:-8000px;}
.content_slider_logos .prevBtn, .content_slider_logos .nextBtn {display:block; line-height:19px !important; color:#666; width:54px; height:54px;position:absolute; z-index:1;  cursor:pointer; text-indent:-8000px; background-image:url(../img/btns_slider.png); bottom:0; left:50%}	
.content_slider_logos .nextBtn{ margin-left:5px; background-position: top right; transition:right 0.3s}	
.content_slider_logos .prevBtn{margin-left:-35px;}
.content_slider_logos .prevBtn:hover{background-position:left bottom;}
.content_slider_logos .nextBtn:hover{background-position:right bottom;}

.prevBtn, .nextBtn {line-height:19px !important; color:#666; width:34px; height:37px;position:absolute; z-index:1;  cursor:pointer; text-indent:-8000px; background-image:url(../img/btns_slider.png); top:50%; margin-top:-12px; z-index:10 }	
.nextBtn{right:0; background-position: top right;}	
.prevBtn{left:0;}
.prevBtn:hover{background-position:left bottom;}
.nextBtn:hover{background-position:right bottom;}

.content_slider_descargas .prevBtn{margin-top:auto; top:320px; left:auto; right:80px;}
.content_slider_descargas .nextBtn{margin-top:auto; top:320px; left:auto; right:20px;}
.main_products .prevBtn, .main_products .nextBtn{background-image:url(../img/btns_slider2.png)}
/* Some demos use this line */

/*-- custom links --*/